html
  head
    title= title
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous")
  body
    //- h1= message
    //- img(src="/images/logo.jfif", alt="Website Logo")
    //- ul 
      l1 1
      l2 2
      l3 3
    
    p 
     |Lorem ipsum dolor sit, amet consectetur adipisicing elit.
     |Accusamus, officia, neque beatae dolorum asperiores    itaque commodi esse quos excepturi eum numquam dolore quisquam mollitia vel, cumque ad aliquam omnis quis?

    // khai bao bien
    -var stt = 1
    -var id = '1'
    -var name='huypham' 

    -var htmlLink = "<a href ='http://getbootstrap.com/docs/4.6/getting-started/introduction/'>Boostrap</a>"
    div(class="link")  
      p !{htmlLink}
    table(class='table table-striped' )
      thead 
        tr  
          th STT 
          th ID
          th Name 
      tbody 
        tr 
          // su dung bien
          td #{stt}
          td #{id}
          td #{name} 
      